/*=====================================================
	Footer
=======================================================*/
/*
	Footer --> Nav
-----------------------------------------------*/
#footer_nav{
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:right;
	margin-top: 7px;
	font-size:16px;
}
.footer_nav li{
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline-block;
	padding: 0px 7px;
}
#footer_nav li a:hover{
	text-decoration:none;
}
#footer_nav li ul{
	display:none;
}



/*
	Footer --> Top
-----------------------------------------------*/
.footer-top{
	background-color: #DFBC17;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-top .section-inner{
	display: flex;
	flex-wrap: wrap;
}
.footer-top .section-inner > div{
	width:25%;
	box-sizing: border-box;
	padding: 20px;
}




/*
	Footer --> Widgets
-----------------------------------------------*/
.footer-widgets{
	background-color:#272727;
	padding-top:40px;
	padding-bottom:10px;
	color:#fff;
}
.footer-widgets a,
.footer-widgets li a,
.footer-widgets .widget_meta ul li a, 
.footer-widgets .widget_pages ul li a, 
.footer-widgets .widget_nav_menu ul li a, 
.footer-widgets .widget_recent_entries ul li a, 
.footer-widgets .widget_archive ul li a, 
.footer-widgets .widget_categories ul li a, 
.footer-widgets .widget_recent_comments ul li a{
	color:#fff;
}
.footer-widgets a:hover,
.footer-widgets li a:hover,
.footer-widgets .widget_meta ul li a:hover, 
.footer-widgets .widget_pages ul li a:hover, 
.footer-widgets .widget_nav_menu ul li a:hover, 
.footer-widgets .widget_recent_entries ul li a:hover, 
.footer-widgets .widget_archive ul li a:hover, 
.footer-widgets .widget_categories ul li a:hover, 
.footer-widgets .widget_recent_comments ul li a:hover{
	color:#cacaca;
}


/*
	Footer --> bottom
-----------------------------------------------*/
.footer-bottom{
	background-color:#222;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
}
.footer-bottom a{
	color:#fff;
}
.footer-bottom a:hover{
	color:#adadad;
}

.copyright{
	font-size:14px;
}