
/*=====================================================
	Header
=======================================================*/
.site-header{
	
}

/*
	Header --> Top
-----------------------------------------------*/
.header-top{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f5f5f5;
}
.header-top-left{
	float: left;
}
.header-top-right{
	float: right;
}


/*
	Header --> Main
-----------------------------------------------*/
.header-main{
	padding-top:20px;
	padding-bottom: 15px;
	border-bottom: solid 1px #f5f5f5;
}
.header-main-left{
	float:left;
}
.header-main-right{
	float:right;
	box-sizing:border-box;
	padding-left:30px;
}

/*
	Header --> Bottom
-----------------------------------------------*/
.header-bottom{
	background-color: #222;
}
.header-bottom-left{
	float: left;
}
.header-bottom-right{
	float: right;
	display: flex;
	flex-wrap: wrap;
}


/*
	Header --> Secendary Menu
-----------------------------------------------*/